// Type Kit

@font-face {
  font-family: "Titillium Web";
  font-weight: 400;
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Titillium";
  font-weight: 600;
  src: url(../../assets/fonts/TitilliumWeb-Bold.ttf) format("opentype");
}
