//Colors

// Primary Colors
$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;

// Secondary Colors
$Slate: #5c667e;
$Cloud: #bdc5d5;

// Background Colors
$Graphite: #232940;
$Light-Grey: #f7f8f9;

// Supporting Colors
$Green: #158463;
$Red: #c94515;

// MOBILE screen sizes are defined at 320px, but are applied to screen sizes 767px and below.
$tablet-breakpoint: 768px; // screen sizes are defined at 768px, but are applied to screen sizes from 768px to 1279px.
$desktop-breakpoint: 1280px; // DESKTOP screen sizes are defined at 1280px, but are applied to screen sizes 1280px and greater.
